
.title {
  font-size: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.maininfo {
  font-size: 22px;
  margin-bottom: 15px;
}
.stack {
  font-size: 22px;
  margin-bottom: 5px;
}
.stackitem {
  font-size: 20px;
  margin-bottom: 5px;
}
