$bg-color: #080808;
$white: #eaeaea;
$lightbg: #0d0d0d;
$light: #5c5c5c;

.AppLight {
  background: $white;
  color: $bg-color;
  padding: 0 15px;
  transition: 0.3s ease-in-out;
  min-height: 100dvh;

  button {
    color: $bg-color;
  }
}
.AppDark {
  background: $lightbg;
  color: $white;
  transition: 0.3s ease-in-out;
  min-height: 100dvh;

  button {
    color: $white;
  }
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.main {
  padding: 0 15px;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 50px;
}
