$bg-color: #080808;
$white: #eaeaea;
$lightbg: #0d0d0d;
$light: #5c5c5c;

.App {
  background: $lightbg;
  color: $white;
  padding: 0 15px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.main {
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 50px;
}
