@import '../../styles/app.scss';

.Header {
  padding: 20px 0;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 25px;
}
.btn {
  font-size: 18px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;

  &:first-child {
    margin-top: 4px;
  }
}
.btns__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
}
hr {
  height: 20px;
}
