@import '../../../styles/app.scss';

.ProjectItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background: $bg-color;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: $white;
}
.description {
  font-size: 17px;
  margin-bottom: 8px;
  hyphens: initial;
  color: $white;

  &:last-child {
    margin-bottom: 0;
  }
}
.project__link {
  transition: 0.1s ease-in-out;
  margin-left: 10px;
  color: $white;

  &:hover {
    color: $light;
  }
}
.stack {
  color: $light;
}
.links {
  display: flex;
}

@media (max-width: 425px) {
  .ProjectItem {
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links {
    margin-top: 20px;
  }
}
