@import '../../../styles/app.scss';

.ProjectItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background: $bg-color;
  padding: 20px;
  border-radius: 10px;
}
h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 17px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
.project__link {
  transition: 0.1s ease-in-out;

  &:hover {
    color: $light;
  }
}
.stack {
  color: $light;
}
